<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->
<!-- </head> -->
 {% extends 'dashboard.html' %}
<style> -->
     .add{
        background-color: rgba(245, 93, 55, 0.696);
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        height: 200px;
    } 
 </style>
 {% block content %}
    <form method="POST">
        <div class="add">
            <center>
                <label>Title</label><br/>
                <input type="text" placeholder="title" name="title"/><br><br/>
                <label>Description</label><br/>
                <input type="text" placeholder="Description" name="content"/><br><br/>
                <button>Submitt</button>
            </center>
        </div>
    </form>
    {% endblock %}