<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .new{
        background-color: rgba(80, 249, 212, 0.548);
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        height: 200px;
        border: 0px solid;
        border-radius: 5%;

    }
</style>
<body>
    <form >
        <div class="new"><br><br/>
            <center>
                <label>Enter new password</label><br/>
                <input type="text" placeholder="new password" name="password"/><br><br/>
                <label>Confirm Password</label><br/>
                <input type="text" placeholder="confirm password" name="cpassword"/><br><br/>
                <button>Submit</button>
            </center>
        </div>
    </form>
</body>
</html>